{{>layout/header}}

<h4>날씨 api</h4>
<div class="col-md-12">
    <div class="row">
        <div class="col-md-6">
            <a href="/today" role="button" class="btn btn-primary">날씨 예보</a>
        </div>
    </div>
</div>

{{>layout/footer}}