{{>layout/header}}
<div class="container">
    <div class="row">
        <div class="col">
            <br>
            <h2>🌞날씨 API☂</h2>
            <br>
            <a href="/weather/용인시" role="button" class="btn btn-outline-dark btn-block">용인시 날씨</a>
            <a href="/weather/서울시" role="button" class="btn btn-outline-dark btn-block">서울시 날씨</a>
            <a href="/weather/부산시" role="button" class="btn btn-outline-dark btn-block">부산시 날씨</a>
            <a href="/weather/제주시" role="button" class="btn btn-outline-dark btn-block">제주시 날씨</a>
        </div>
    </div>
</div>
{{>layout/footer}}